.search{
    text-align: center;
    padding: 0 40px 10px;

    --theme-primary-4: #4285f4;
    .imgContainer{
        width: 50%;
        margin: 40px auto 20px;
        height: 50px;
        .icon{
            width: 100%;
        }
    }
    
}